!!!
%html
  %head
    %title
      Dani's News Reader
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .wrapper
      = yield
      .clearfix
    .footer
      .name
        %a{href:'https://www.linkedin.com/in/danielagrossmann', target:'_blank'}Daniela Grossmann
      .email
        %a{href:'mailto:daniela.grossmann@gmail.com'}daniela.grossmann@gmail.com
      .date
        San Francisco, Feb. 2016
